
h1 {
    text-align: left;
}


a:hover{
    color: green;
}

a:visited {
    color: orangered;
}

iframe {
    width: 100px;
    height: 100px;
    border: 4px black solid;
    

}

button {
    z-index: 5;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 100px;
}